.App {
  background-image: url("./Assets//Images//BackgroundImage.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  font-family: "Omnes";
  font-style: normal;
}
.App-container {
  margin: auto;
  padding: 25px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15),
    0px 50px 100px rgba(0, 75, 117, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 37px;
  overflow: hidden;
  height: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
}
